input {
    border: none;
    outline: none;
    border-bottom: 1px solid #5757;
    padding-inline-start:  4%;

    

}

label {
   align-content: flex-end;
   
   
}

.red {
    background-color: blue;
    color: red;

}
.blue {
    color:blue
}
.img-1{
    width: 20%;
    height: 20%;
    margin: 25%;
    
}
#contenedor{
    border-style: solid;
    background-color: rgb(112, 40, 96);
    width: 15%;
    height: 55%;
}
#footer{
display: flex;
}
